.text-center {
    text-align: center;
}

/* .bg-black {
    background: black;

} */
.bg-orange {
    background-color: orange;

}
.bg-grey {
    background-color: rgb(46, 45, 45);

}
.bg-light-grey {
    background-color: rgb(103, 103, 103);

}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}
.item-center{
    align-items: center;
}